/* Trivia Game */

body {
   background-image: url("../images/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

#title{
  font-size: 100px;
}

#start{
  font-size: 30px;
  font-style: bold;
  width: 200px;
  height: 50px;
}

#timer{
  font-size: 80px;
}

/* #correct{

}

#incorrect{

}

#unanswered{

} */

